{% extends 'visitors/base/index.html' %}
{% block content %}
{% load static %}
    <div class="page-header min-vh-75">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain mt-8">
              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">Enter national id</h3>
                <p class="mb-0">Verify visitor info</p>
              </div>
              <div class="card-body">
                <form action="{% url 'save_visitor' %}" id="search-form" method="post">
                  {% csrf_token %}
                  <label>Enter National id</label>
                  <div class="mb-3">
                    <input type="text" class="form-control" name="national_id" id="search-input" placeholder="Type here" aria-label="Email" aria-describedby="email-addon">
                  </div>
                  <!--<button type="button" id="check-btn" class="not-visible btn bg-gradient-info w-100 mt-4 mb-0">check</button> -->
                 <div class="not-visible" id="result-box">
                    
                    <div class="mb-3">
                      <label>Office visiting</label>
                      <input type="text" class="form-control" name="office_visited" value="{{office}}" aria-describedby="password-addon">
                    </div>
                 </div>

                </form>
              </div>
             
            </div>
          </div>
          <div class="col-md-6">
            <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
              <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('{% static "assets/img/curved-images/curved6.jpg" %}')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
 


{% endblock content %}