{% extends 'office/base/index.html' %}
{% load static %}
{% block content %}
<style>
    .hidden {
        display: none;
    }
</style>
<div class="row">
    <div class="title hidden">{% block page_header %}{{request.user}}{% endblock %}</div>
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>visitors table</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-secondary text-xxs font-weight-bolder opacity-7">visitor first name</th>
                  <th class="text-secondary text-xxs font-weight-bolder opacity-7 ps-2">visitor middle name</th>
                  <th class="text-secondary text-xxs font-weight-bolder opacity-7 ps-2">visitor last name</th>
                  <th class=" text-secondary text-xxs font-weight-bolder opacity-7">gender</th>
                  <th class=" text-secondary text-xxs font-weight-bolder opacity-7">in time</th>
                  <th class=" text-secondary text-xxs font-weight-bolder opacity-7">out time</th>
                  <th class=" text-secondary text-xxs font-weight-bolder opacity-7">date visited</th>
                  <th class=" text-secondary text-xxs font-weight-bolder opacity-7">office visited</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody id="live_data_display">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock content %}