{% extends 'visitors/base/index.html' %}
{% load static%}
{% block content %}
<style>
  .hidden {
      display: none;
  }
</style>
<style>
  .hidden {
      display: none;
  }
</style>
<div class="row">
  <div class="title hidden">{% block title %}Dashboard{% endblock %}</div>
  <div class="title hidden">{% block header %}Dashboard{% endblock %}</div>
  <div class="title hidden">{% block page_header %}{{request.user}}{% endblock %}</div>
    
   
  </div>
  <div class="row my-4">

    <div class="col-lg-4 col-md-6">
      <div class="card h-100">
        <div class="card-header pb-0">
          <h6>Signed in visitors</h6>
  
        </div>
        <div class="card-body p-3">
          <div class="timeline timeline-one-side" id="d_live_display">
            
          </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Signed out visitors</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-secondary text-xxs font-weight-bolder opacity-7">visitor first name</th>
                <th class="text-secondary text-xxs font-weight-bolder opacity-7 ps-2">visitor middle name</th>
                <th class="text-secondary text-xxs font-weight-bolder opacity-7 ps-2">visitor last name</th>
                <th class=" text-secondary text-xxs font-weight-bolder opacity-7">gender</th>
                <th class=" text-secondary text-xxs font-weight-bolder opacity-7">in time</th>
                <th class=" text-secondary text-xxs font-weight-bolder opacity-7">out time</th>
                <th class=" text-secondary text-xxs font-weight-bolder opacity-7">date visited</th>
                <th class=" text-secondary text-xxs font-weight-bolder opacity-7">office visited</th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody id="live_is_signed_data_display">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  </div>
{% endblock %}